<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modern Prophet</title>
    <link rel="stylesheet" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300&family=Sacramento&display=swap" rel="stylesheet">
</head>
<body>
<div class="top-container">
    <div class="flags">
        <img src="static/indian_flag.gif" alt="flag" class="india_flag_image">
        <img src="static/trinidad_flag.gif" alt="flag" class="trini_flag_image">
    </div>
    <div class="title">
        <h1 class="indian_title"><i>Indian (South Asian) Culture</i></h1>
        <h1 class="trini_title"><i>West Indian (Trini) Culture</i></h1>
    </div>
</div>

<div class="location-container">
    <h2>Location</h2>
    <div class="india_map">
            <img src="static/india_map.jpg" alt="india map">
    </div>
    <div class="trinidad_map">
            <img src="static/trinidad_map.jpg" alt="trinidad and tobago map">
    </div>
    <b><p>&#x2022; India is located on the continent of Asia and is home to the world's highest mountain range, the Himalayas, located in the northern regions.</p></b>
    <b><p>&#x2022; India is known for its beautiful architecture which was built during the 16th century. The Taj Mahal is the most famous building - an enormous tomb made by the Mughal emperor in memory of his wife. </p></b>
    <b><p>&#x2022; Trinidad and Tobago is located near the northern edge of the south american mainland, and is inhabited by many sights such as the Maracas Beach, Fort George, Argyle Waterfall, and many other wonders that inhabit the twin island country.</p></b>
</div>

<div class="music-container">
    <h2>Music</h2>
    <div class="india_img">
            <img src="static/indian_music1.jpg" alt="india map">
    </div>
    <div class="trini_img">
            <img src="static/indian_music2.jpg" alt="trinidad and tobago map">
    </div>
    <b><p>&#x2022; Indian music has many varied uses and types, such as Hindustani music, Carnatic music, Folk music, Modern music, and many others</p></b>
    <b><p>&#x2022; Indian music tends to be more happy, vibrant, soft, and steadfast as it has a much higher pace and more colorful schemes. Most songs seen online are usually depicted with two lovers singing and dancing while everyone else dances.</p></b>
    <b><p>&#x2022; Trini music tends to vary different types of music such as Calypso, Carnival, Soca, Chutney, and many others.</p></b>
    <b><p>&#x2022; Trini music has the ability to be lively and mischeivous, however does have great songs that sound different to more common ones.</p></b>
        <button type="button" class="indian_button" onclick="window.open('https://www.youtube.com/watch?v=JAsG8DKS_7I', '_blank');">Indian Music</button>
        <button type="button" class="trini_button" onclick="window.open('https://youtu.be/E_YqLTcfD8c?t=50', '_blank');">Chutney(Trini) Music</button>
</div>

<div class="language-container">
    <h2>Language</h2>
    <div class="india_img">
            <img src="static/indian_language.jpg" alt="india map">
    </div>
    <div class="trini_img">
            <img src="static/trini_language.jpg" alt="trinidad and tobago map">
    </div>
    <b><p>&#x2022; India inhabits a multitude of languages like Hindi, Bengali, Urdu, and multiple other languages that span India.</p></b>
    <b><p>&#x2022; Some of these languages have different accents or writing, such as saying hello in Urdu(ہیلو) and in Hindi(नमस्ते).</p></b>
    <b><p>&#x2022; Trinidad uses some of the languages of India, but its main language is known as a broken english, Creole.</p></b>
    <b><p>&#x2022; To say hello in Creole for example is known as bonjou.</p></b>
</div>

<div class="food-container">
    <h2>Food</h2>
    <div class="india_img">
            <img src="static/indian_food.jpg" alt="india map">
    </div>
    <div class="trini_img">
            <img src="static/trini_food.jpg" alt="trinidad and tobago map">
    </div>
    <b><p>&#x2022; Indian food has many different styles and taste due to how they are all cooked. Some of these dishes include Biryani, Daal, Butter Chicken, Dosa, and many other great picks.</p></b>
    <b><p>&#x2022; Indian sweets are also a main dish, and many of these include Ladoo, Gulab Jamun, Kulfi, Ras Malai, and many others.</p></b>
    <b><p>&#x2022; Trini food is more on the spicy side of the spectrum and comes in many forms such as Aloo Pies, Black Pudding, Saltfish and Rice, Pholourie, and many other dishes.</p></b>
    <b><p>&#x2022; Trini sweets are hard to find, but they do taste good, and some of these include Sawine, Trini Sponge Cake, Coconut Bread, and some others.</p></b>
</div>

<div class="clothing-container">
    <h2>Clothing</h2>
    <div class="india_img">
            <img src="static/indian_clothing.jpg" alt="india map">
    </div>
    <div class="trini_img">
            <img src="static/trini_clothing.jpg" alt="trinidad and tobago map">
    </div>
    <b><p>&#x2022; Indian clothing consists of two main designs; The Saree, a garment worn by women that is for traditional ceremonies or holidays, and the Kurta, a long gown-like shirt that men wear to represent our Indian culture.</p></b>
    <b><p>&#x2022; Trinidadians dont have a specified type of clothing due to the fact that many years ago they were imported to the Caribbeans as sugarcane slaves from India.</p></b>
</div>

<footer>
    <div class="resources">
        <h2>Works Cited</h2>
        <a href="https://kids.nationalgeographic.com/geography/countries/article/india#:~:text=use%20is%20prohibited.-,India%20is%20part%20of%20the%20continent%20of%20Asia.,bordered%20by%20the%20Arabian%20Sea." class="resource_link">“India Country Profile - National Geographic Kids.” Geography, National Geographic Kids, 10 Feb. 2021, https://kids.nationalgeographic.com/geography/countries/article/india#:~:text=use%20is%20prohibited.-,India%20is%20part%20of%20the%20continent%20of%20Asia.,bordered%20by%20the%20Arabian%20Sea</a>
        <p></p>
        <a href="https://help.unhcr.org/trinidadandtobago/about-trinidad-and-tobago/country-information/#:~:text=Trinidad%20and%20Tobago%20is%20a,81%20miles)%20south%20of%20Grenada." class="resource_link">“Country Overview -.” UNHCR Trinidad and Tobago, 3 May 2018, https://help.unhcr.org/trinidadandtobago/about-trinidad-and-tobago/country-information/#:~:text=Trinidad%20and%20Tobago%20is%20a,81%20miles)%20south%20of%20Grenada</a>
        <p></p>
        <a href="https://prepp.in/news/e-492-classification-of-indian-music-art-and-culture-notes" class="resource_link">Classification of Indian Music - Art and Culture Notes - PREPP. https://prepp.in/news/e-492-classification-of-indian-music-art-and-culture-notes</a>
        <p></p>
        <a href="https://www.allaroundthisworld.com/learn/the-caribbean-2/trinidad-and-tobago/trinidad-and-tobago-music/#.ZFghzHbMKUc" class="resource_link">“Trinidad-Music.” Online Education for Kids, 21 Jan. 2019, https://www.allaroundthisworld.com/learn/the-caribbean-2/trinidad-and-tobago/trinidad-and-tobago-music/#.ZFghzHbMKUc</a>
        <p></p>
        <a href="http://www.tusentakk2.com/Logs/Logs%2012/Aug%2026-Sept%2010%202012%20Trinidad.htm" class="resource_link">Aug 26-Sept 6 2012 Trinidad, http://www.tusentakk2.com/Logs/Logs%2012/Aug%2026-Sept%2010%202012%20Trinidad.htm. </a>
        <p></p>
        <a href="https://www.researchgate.net/figure/Origin-of-seventeen-accessions-of-turmeric-in-16-states-of-India_fig1_335420907" class="resource_link">Origin/Places of Collection of 65 Accessions of Turmeric ... - Researchgate. https://www.researchgate.net/figure/Origin-places-of-collection-of-65-accessions-of-turmeric-maintained-at-CSIR-CIMAP-Lucknow_tbl1_280222803. </a>
        <p></p>
        <a href="https://www.shutterstock.com/search/south-indian-music-instruments" class="resource_link">“1,648 South Indian Music Instruments Images, Stock Photos &amp; Vectors.” Shutterstock, https://www.shutterstock.com/search/south-indian-music-instruments. </a>
        <p></p>
        <a href="https://www.allposters.com/-sp/Indian-Girl-Playing-Sitar-near-Taj-Mahal-Posters_i16176815_.htm" class="resource_link">“'Indian Girl Playing Sitar near Taj Mahal' Art - Daseugen.” AllPosters.com, https://www.allposters.com/-sp/Indian-Girl-Playing-Sitar-near-Taj-Mahal-Posters_i16176815_.htm. </a>
        <p></p>
        <a href="https://www.redbubble.com/i/poster/Steups-Trinidad-Slang-Word-Trinidad-And-Tobago-Steups-by-trinislang/61232800.LVTDI" class="resource_link">Trinidadslang. “Steups Trinidad Slang Word - Trinidad and Tobago Steups Poster by Trinidad Slang Clothing.” Redbubble, https://www.redbubble.com/i/poster/Steups-Trinidad-Slang-Word-Trinidad-And-Tobago-Steups-by-trinislang/61232800.LVTDI. </a>
        <p></p>
        <a href="https://guides.library.columbia.edu/sasia-india/language" class="resource_link">“Research Guides: India: Language Study Resources.” Language Study Resources - India - Research Guides at Columbia University, https://guides.library.columbia.edu/sasia-india/language. </a>
        <p></p>
        <a href="https://plantbased-passport.com/category/cuisine/caribbean/" class="resource_link">“Caribbean Archives - Plant-Based Passport.” Plant, https://plantbased-passport.com/category/cuisine/caribbean/. </a>
        <p></p>
        <a href="https://www.foodora.cz/en/restaurant/v3hb/spice-india" class="resource_link">“Spice India Rozvoz JÍDLA Prague &amp; Menu.” Foodora, https://www.foodora.cz/en/restaurant/v3hb/spice-india. </a>
        <p></p>
        <a href="https://peachmode.com/blogs/peachmode/sarees-for-different-occasions#:~:text=On%20most%20festive%20occasions%20like,choose%20matching%20jewellery%20with%20it." class="resource_link">Shopify, BVC Tech. “Sarees for Different Occasions.” Peachmode, Peachmode, 16 June 2022, https://peachmode.com/blogs/peachmode/sarees-for-different-occasions#:~:text=On%20most%20festive%20occasions%20like,choose%20matching%20jewellery%20with%20it. </a>
        <p></p>
        <a href="https://byjus.com/question-answer/what-are-traditional-clothes/" class="resource_link"></a>
        <p></p>
        <a href="https://commons.wikimedia.org/wiki/File:FancyIndian.jpg" class="resource_link">File:FancyIndian.jpg - Wikimedia Commons. https://commons.wikimedia.org/wiki/File:FancyIndian.jpg. </a>
        <p></p>
        <a href="https://www.utsavfashion.com/men/beige_dupion-silk?p=15" class="resource_link">“Beige - Dupion Silk - Indian Wear for Men - Buy Latest Designer Men Wear Clothing Online.” Utsav Fashion, https://www.utsavfashion.com/men/beige_dupion-silk?p=15. </a>
    </div>
</footer>

</body>
</html>
